
body {
    background-color: black;
    background-image: url('ContactUsBg copy.png');
    background-size: cover;
    background-position: top;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    margin: 30px;
    padding: 0px;
  }
  h1, h2 {
    text-align:center;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }
 
  form {
    display: flex;
    flex-wrap: wrap;
    background-image: url('ContactUsBg copy.png');
    background-size: cover;
    background-position: top;
    justify-content: center;
    margin: 0 auto;
    background-color: #eb3232;
    border-radius: 20px;
    padding: 80px;
    width: 400px;
    box-shadow: 0 0 20px rgba(191, 213, 210, 0.1);
    text-shadow: -1px 0 black, 0 px black, 1px 0 black, 0 -1px black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #333;
  }
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input[type="submit"]:hover {
    background-color: #DAA520;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  textarea {
    resize: vertical;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  