* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header Styles */

header {
  background-color: #262529;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-family: "Cookie", cursive;
  font-size: 48px;
  line-height: 1.2;
  color: #f7f1ea;
}

/* Navigation Styles */

nav {
  background-color: #eb3232;
  margin: 20px 0;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  color: #fff;
  display: block;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  text-decoration: none;
  transition: all 0.50s ease;
  box-shadow: 0px 10px 70px #3a1616;
}

a:hover {
  background-color: #fff;
  color: #333;
  box-shadow: none;
}

/* Hero Image Styles */

#hero-image {
  margin-top: 20px;
}

/* Main Content Styles */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  background-color: #1b1a1b;
  border-radius: 20px;
  padding: 40px;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(191, 213, 210, 0.1);
  text-shadow: -1px 0 black, 0 px black, 1px 0 black, 0 -1px black;
}

section {
  margin: 20px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px #000305;
  padding: 20px;
}

h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color:#f5f1fb;
  text-shadow: -1px 0 black, 0 px black, 1px 0 black, 0 -1px black;
}

h2 {
  font-size: 36px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 px black, 1px 0 black, 0 -1px black;
}

h3 {
  font-size: 24px;
  color: #f7f1ea;
}

p {
  margin: 10px 0;
  color: #f5f1fb;
}

/* Modern Fusion Section Styles */

#modern-fusion {
  background-color: #5e3e6b;
  flex-basis: 100%;
  max-width: 800px;
  height: auto;
  padding: 20px;
  text-align: center;
}

/* Local Cuisine Section Styles */

/* Local Cuisine Section Styles */

.local-cuisine {
  background-color: #262529;
  flex-basis: calc(50% - 40px);
  padding: 20px;
  text-align: center;
}

.some-image {
  margin-bottom: 20px;
}

/* Chef Ly Section Styles */

.chef-section {
  background-color: #262529;
  flex-basis: calc(50% - 40px);
  padding: 20px;
  text-align: center;
}
/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
