@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&family=Knewave&family=Patrick+Hand&display=swap');
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 26px;
    line-height: 1.5;
    background-color: #000000;
    color: #333;
    width: 1280px;
    margin: 0 auto;
  }

img {
  max-width: 100%;
  height: auto;
}

/* Header Styles */

header {
  background-color: #262529;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-family: 'Knewave', cursive;
  font-size: 62px;
  line-height: 1.2;
  color: #f7f1ea;
}
p {
  font-family: Calibri;
  font-size: 20px;
}

/* Navigation Styles */

nav {
  background-color: #eb3232;
  margin: 20px 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  color: #fff;
  border-radius: 5px;
  display: block;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  text-decoration: none;
  transition: all 0.50s ease;
  box-shadow: 1px 1px 9px #290432;
}

a:hover {
  background-color: #fff;
  color: #333;
  box-shadow: none;
}


#hero-image {
  margin-top: 20px;
}

/* Main Content Styles */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  background-color: #1b1a1b;
  border-radius: 20px;
  padding: 80px;
  width: 100%;
  box-shadow: 0 0 20px rgba(191, 213, 210, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  margin: 20px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px #000305;
  padding: 20px;
}

h2 {
  margin: 0;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: bold;
  color:#f5f1fb;
}

h2 {
  font-size: 50px;
  color: #ffffff;
}

h3 {
  font-family: 'Patrick Hand', cursive;
  font-size: 36px;
  color: #f7f1ea;
}

p {
  margin: 10px 0;
  color: #f5f1fb;
}

/* Modern Fusion Section */

#modern-fusion {
  background-color: #eb3232;
  flex-basis: 100%;
  max-width: 800px;
  height: auto;
  padding: 20px;
  text-align: center;
}



/* Local Cuisine Section */

.local-cuisine {
  background-color: #262529;
  flex-basis: calc(50% - 40px);
  padding: 20px;
  text-align: center;
}

.some-image {
  margin-bottom: 20px;
}

/* Chef Ly Section  */

.chef-section {
  background-color: #262529;
  flex-basis: calc(50% - 40px);
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  background-image: url('ContactUsBg copy.png');
  color: #ffffff;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 80px 20px;
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eb3232;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #eb3232;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea {
  resize: vertical;
}
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
}
.contact img {
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  clear: both;
}
